_site/

*Thumbs.db
.DS_Store

.Rproj.user
.Rhistory

*.dcf
*.svg
*.giv
*.gif
*.png

*.sqlite

!0013-data-types-1.PNG
!*screenshot*

_working/tmp.rda
_working/fort.6*
_working/_output/0015-silver-sankey/
_working/_output/0026_random_forest/
*wdi.rda
_working/*.RData
_working/enron*
_working/gva.zip
_working/gun-violence/
_working/vw_IVS.zip
_working/bls-cd/

_working/.spyproject/
_working/melb-rents.xlsx
_working/*.csv

_working/d_questions.txt
_working/d_responses.txt
_working/d_respondents.txt
_working/f_wvs.txt

*.sav
*.zip
*.ASC
*.XPT
*.xlsx


# gEcon crap
*SW_03*
!0031-shiny/*

# Google Analytics API key
MonitorBlog-*.json

!*screenshot*
img/Thumbs.db


_working/docword*
_working/IVS*

# stan compiled objects and other R data files
*.rds
*.rda

# things associated with the "most popular pages" analysis
.httr-oauth
# this page is machine generated when .rprofile is run:
_includes/most-popular.html 

twitter-auth.R

data/*
img/*
*.csv
*.pdf
*.sav
NZES2017*
*.xls

.jekyll-cache/*
_working/data/*

*.kml
.jekyll-cache
.jekyll-metadata

_working/data/*


*.json
*.json.gz

# various spatial data files
*.sbn
*.cpg
*.dbf
*.prj
*.sbx
*.shp
*.xml
*.geojson
*.tif
*.shx
*.gdb