---
layout: leftwithcomments
title: Posts that use voting behaviour data
image: /img/0098-vote.png
nametype: index
---
<div>
<h2>Election forecasts</h2>
<p>
   In addition to the blog posts listed in the section below, you may be looking for the <a href="elections/index.html">election forecasts page</a>.
</p>

<h2>Blog posts</h2>
</div>

   
   {% for post in site.posts %}
   {% if post.tags[0] == "VotingBehaviour" or post.tags[1] == "VotingBehaviour" or post.tags[2] == "VotingBehaviour" or post.tags[3] == "VotingBehaviour" or post.tags[4] == "VotingBehaviour" or post.tags[5] == "VotingBehaviour"%}
	   <hr> </hr>
	   <div class ="row">
		  <div class="col-md-8">
			 <a href="{{ post.url }}">
				<h3>{{ post.title }}</h3>
				<h4>{{ post.date | date_to_long_string }}</h4>
			 </a>
			 <p>{{ post.description }}</p>
		  </div>
		  <div class = "col-md-4">
			 <a href="{{ post.url }}"><img src = {{ post.image }} height = "150"></a>
		  </div>
		 </div>
	{% endif %}

   {% endfor %}


